@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
.section-1 {
    background-color: #1F2937;
    color: #fff;
    height: 75vh;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: extra-large;
}
.header ul {
    list-style: none;
    display: flex;
}
.header ul li {
    margin-left: 2rem;
    font-size: 18px;
    color: #E5E7E8;
}
/* main body */
.main-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: 70px auto;
}
.left-text {
    width: 33vw;
}
.left-text p:first-child {
    font-size: 40px;
    color: #F9FAF8;
    font-weight: 800;
}
.left-text p {
    font-size: 18px;
    flood-color: #E5E7EB;
}
.main-body img {
    max-width: 350px;
}
.main-body button {
    background-color: #3882F6;
    color: #fff;
    border: none;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
/* information section */
.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
    margin-bottom: 28vh;
}
.images-wrapper div {
    /* flex: 1; */
    width: 150px;
    height: 150px;
    border: 2px solid rgb(16, 173, 230);
    border-radius: 10px;
}
.images-wrapper p {
    margin-top: 10px;
}
/* quote section */
.section-3 {
    background-color: #E5E7EB;
}
.quote-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 60vh;
    width: 50vw;
}
.quote-wrapper p:first-child {
    font-size: 30px;
    font-style: italic;
    color: #2d3846;
}
.quote-wrapper p:last-child {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
}
/* call to action section */
.action-container {
    display: flex;
    background-color: #3882F6;
    width: 65vw;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 16vh auto;
    border-radius: 10px;
    color: #fff;
}
.action-container button {
    background-color: #3882F6;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 28px;
    border-radius: 5px;
    font-weight: 600;
}
.action-text p:first-child {
    font-weight: 600;
    font-size: 20px;
}
.action-text p:last-child {
    font-size: 15px;
    color: #E5E7E8;
}
/* footer section */
.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 15vh;
    color: #E5E7E8;

}
@media (max-width:768px) {
    .section-1 {
        height: 85vh;
    }
    .main-body {
        flex-direction: column;
        width: 100vw;
    }
    .left-text {
        width: 70vw;
        margin: 30px;
    }
    .left-text p:first-child {
        font-size: 19px;
    }
    .left-text p:nth-child(2) {
        font-size: 14px;
    }
    .main-body {
        margin-top: 15px;
    }
    /* section 2 */
    .images-wrapper {
        height: 80vh;
    }
    .images-wrapper {
        margin-bottom: 10vh;
    }
    /* quote section */
    .quote-wrapper {
        width: 70vw;
    }
    .quote-wrapper p:first-child {
        font-size: 25px;
    }
    /* section 4 */
    .action-container {
        width: 85vw;
        padding: 12px;
    }
    .action-container p:first-child {
        font-size: 16px;
    }
    .action-container p:last-child {
        font-size: 13px;
    }
    .action-container button {
        padding: 2px 27px;
    }
}